{erl_opts, [
   debug_info
   , {i, "include"}
   , warn_unused_vars
   , warn_shadow_vars
   , warn_unused_import
   , warn_obsolete_guard
]}.

{deps, [
   {eSync, ".*", {git, "http://sismaker.tpddns.cn:53000/SisMaker/eSync.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eNet]}
]}.




